extends layout

block content
  h1 Business Cloud Communication API services!
  p Select the communication API below to see its features.
  #wrapper
    #APIList
      h2 Communication APIs
      #commapi.d-flex.flex-row
    #APIInfo
      strong  <span id='apiName'></span>
      #APIServices
        strong Select an API to view its features.
